h1{
    font-family: 'Piedra', cursive;
    background-color: #003049;
}

h3, h2, ol{
    font-family: 'Satisfy', cursive;
}

.jumbotron{
    color: #f0f3bd;
    border-left:10px solid #f0f3bd;
    border-right:10px solid #f0f3bd;
}