/* h1{
    text-align: center;
    color: white;
    background-color: #8f2d56;
    font-weight: bolder;
} */

body{
    text-align: center;
    /* color: white; */
    /* background-color: #8f2d56; */
    color: #8f2d56;
}

/* .education, .skills, .lang{
    background-color: #8f2d56;
    font-weight: bold;
} */

/* .container{
    background-color: #14213d;
    color: wheat;
    text-align: center;
    align-self: center;
} */

h1{
    font-family: 'Piedra', cursive;
    background-color: #003049;
}

h3, h2, ol, h4{
    font-family: 'Satisfy', cursive;
}

.jumbotron{
    color: #f0f3bd;

    border-top: rgb(205, 50, 50);
    border-left:10px solid #f0f3bd;
    border-right:10px solid #f0f3bd;
    text-align: center;
}