/*html{
	background: orange;
}*/

h1{
	font-family: 'Crimson Text', serif;
	color: #ffdf00;
	text-align:left;
	text-transform:uppercase;
}

h2{
	font-family: 'Playfair Display', serif;
	font-size:40px;
}

h3{
	font-family: 'Vollkorn', serif;
}

h4{
	font-family: 'Lora', serif;
	text-align:center;
}

ul{
	font-family: 'Playfair Display', serif;
}

#lang-list, #skills-list{
	list-style-type: none;
}

#container{
	padding-top: 6em;

	color: #f0f3bd;
	background-color:#003049;
	width: 100%;
}

body{
	/*padding-top: 65px;*/
}