/* default values */

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Crimson Text", serif;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  color: yellow;
}

h3 {
  font-family: "Vollkorn", serif;
  color: white;
}

h4 {
  font-family: "Lora", serif;
  color: white;
}

body {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  display: block;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  font-family: "georgia";
}

.headTitle {
  font-size: 2.5rem;
  color: white;
  font-family: "Georgia";
  font-weight: bold;
}

/* other values */

.navbar {
  font-size: 20px;
}

#navbar {
  font-family: "Playfair Display", serif;
  background: #292826;
}

.navbar-brand span{
  color: gold;
}

.navbar-brand {
  font-family: "Sonsie One", cursive;
  width: 74%;
}

#navbarNav .nav-item {
  color: white;
  font-weight: bold;
  font-family: georgia;
  margin: 0 0.5rem 0;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #18aae4;
  border-radius: 0.5em;
}

.drop {
  color: #2980b9;
  cursor: pointer;
  transition: all 0.5s;
}

.dropdown {
  position: relative;
  display: inline-block;

  color: #2980b9;
  cursor: pointer;
  transition: 0.5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(137, 234, 247, 0.863);
  min-width: 200px;
  border-radius: 0.5em;
  padding: 5px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
  background-color: #ddd;
}

.scrolling-top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url(images/background/pc-conf.jpeg);

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-msg {
  top: 40%;
  position: relative;
  display: flex;
  z-index: 4;
  flex-direction: column;
}

.welcome-txt {
  font-family: "Georgia";
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: yellow;
  margin: 0 auto;
  flex: 1;
}

.welcome-face {
  margin: auto;
  text-align: center;
  display: block;
  flex: 1;
}

.section-intro {
  margin-top: 900px;
  text-align: center;
}

.section-edu {
  text-align: center;
}

.edu-logo {
  height: 240px;
  width: auto;
  border-radius: 80px;
}

.edu-holder {
  display: flex;
  flex-direction: row;
  transition: left 0.5s;
}

.edu-class {
  flex: 1;
}

.edu-class:hover,
.edu-class:focus {
  box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  transition: all 1s;
}

.section-skills {
  display: flex;
  flex-direction: row;
}

.skills-holder:hover,
.skills-holder:focus,
.lang-holder:hover,
.lang-holder:focus,
.tools-holder:hover,
.tools-holder:focus {
  box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  transition: all 1s;
}

.skills-holder,
.lang-holder,
.tools-holder {
  font-family: "Playfair Display", serif;
  flex: 1;
  color: white;
  padding: 2rem;
}

.section-achiev {
  padding-bottom: 70px;
}

.section-projects,
.section-courses,
.section-achiev {
  max-width: 1000px;
  float: center;
}

.section-edu,
.section-skills,
.section-projects,
.section-courses,
.section-achiev {
  padding-top: 4.5rem;
  padding-left: 3rem;
}

#more {
  display: none;
}

#btn,
#btn-cert,
#moreLed {
  color: white;
}

.certificates {
  padding-top: 5em;
}

.thumbnail {
  margin: 2em 0em 0em 0em;
}

.thumbnail:hover {
  box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.5);
}

#intro {
  text-align: center;
}

#lang-list,
#skills-list {
  list-style-type: none;
}

#lang-list {
  padding-bottom: 40px;
}

.footer {
  background-color: #101820ff;
  min-height: 16px;
  padding-bottom: 20px;
  text-align: center;
}

.footer-icon {
  padding-left: 20px;
}

@media only screen and (max-width: 700px) {
  .section-edu,
  .section-skills,
  .section-projects,
  .section-courses,
  .section-achiev {
    padding-top: 70px;
    padding-left: 20px;
  }
}

@media (max-width: 600px) {
  .welcome-txt {
    font-size: 3rem;
  }

  #index-brand {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .edu-holder,
  .section-skills {
    flex-direction: column;
  }
}

@media (max-height: 1024px) {
  .welcome-msg {
    top: 25%;
  }
}

@keyframes colourChanges {
  0% {
    color: #bada55;
    opacity: 0.5;
  }
  25% {
    color: red;
    opacity: 0.5;
  }
  50% {
    color: blue;
    opacity: 0.5;
  }
  75% {
    color: green;
    opacity: 0.5;
  }
  100% {
    color: yellow;
    opacity: 0.5;
  }
}

/* .gradient-text{
  background-image: linear-gradient(to left, darkblue,  darkorchid);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
} */