/* default values */

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Crimson Text", serif;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  color: #22211e;
}

h3 {
  font-family: "Vollkorn", serif;
  color: #292826;
}

h4 {
  font-family: "Lora", serif;
  color: rgb(65, 49, 49);
}

body {
  /*
  background: #3494E6;
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
  background: linear-gradient(to right, #EC6EAD, #3494E6); 
  */
  background-image: linear-gradient(
    to top,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  display: block;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  font-family: "georgia";
}

.headTitle {
  font-size: 2.5rem;
  color: #1a1a1a;
  font-family: "Georgia";
  font-weight: bold;
}

/* other values */

.navbar {
  font-size: 20px;
}

#navbar {
  font-family: "Playfair Display", serif;
  background: #292826;
}

.navbar-brand span {
  color: gold;
}

.navbar-brand {
  font-family: "Sonsie One", cursive;
  width: 74%;
}

#navbarNav .nav-item {
  color: white;
  font-weight: bold;
  font-family: georgia;
  margin: 0 0.5rem 0;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #18aae4;
  border-radius: 0.5em;
}

.drop {
  color: #2980b9;
  cursor: pointer;
  transition: all 0.5s;
}

.dropdown {
  position: relative;
  display: inline-block;

  color: #2980b9;
  cursor: pointer;
  transition: 0.5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(137, 234, 247, 0.863);
  min-width: 200px;
  border-radius: 0.5em;
  padding: 5px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
  background-color: #ddd;
}

.scrolling-top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url(images/background/pc-conf.jpeg);

  width: 100%;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-msg {
  top: 40%;
  position: relative;
  display: flex;
  z-index: 4;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.welcome-txt {
  font-family: "Georgia";
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: yellow;
  margin: 0 auto;
  flex: 1;
}

.welcome-face img {
  margin: auto;
  text-align: center;
  display: block;
  flex: 1;
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.main {
  margin-top: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.section-intro .container h4 {
  text-align: center;
  color: #1a1a1a;
}

.section-edu {
  text-align: center;
}

.edu-logo {
  height: 200px;
  width: auto;
  border-radius: 80px;
}

.edu-holder {
  display: flex;
  flex-direction: row;
  transition: left 0.5s;
}

.edu-holder div h3 {
  color: #292826;
}

.edu-class {
  flex: 1;
  padding: 10px 0;
}

.edu-class:hover,
.edu-class:focus {
  box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  transform: scale(1.05);
  transition: all 1s;
}

.section-skills-wrapper {
  display: flex;
  flex-direction: row;
}

.section-skills-wrapper div ul h4 {
  color: #292826;
}

.skills-holder,
.lang-holder,
.tools-holder {
  flex: 1;
}

.skills-holder:hover,
.skills-holder:focus,
.lang-holder:hover,
.lang-holder:focus,
.tools-holder:hover,
.tools-holder:focus {
  box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  transform: scale(1.1);
  transition: all 1s;
}

.skills-holder,
.lang-holder,
.tools-holder {
  font-family: "Playfair Display", serif;
  flex: 1;
  color: white;
  padding: 2rem;
}

.section-achiev {
  padding-bottom: 70px;
}

.section-achiev .container h4 {
  color: #292826;
}

.section-intro,
.section-edu,
.section-skills,
.section-projects,
.section-courses,
.section-achiev {
  padding: 2rem;
  margin: 0;
  flex: 1;
}

/* .section-intro,
.section-skills,
.section-courses {
  background-color: #1a1a1a;
}

.section-edu,
.section-projects,
.section-achiev {
  background-color: #0b0c10;
} */

.section-courses .container h3 {
  color: #292826;
}

#more {
  display: none;
}

#btn,
#btn-cert,
#moreLed {
  color: white;
}

.certificates {
  padding-top: 5em;
}

.thumbnail {
  margin: 2em 0em 0em 0em;
}

.thumbnail:hover {
  box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.5);
}

#lang-list,
#skills-list {
  list-style-type: none;
}

#lang-list {
  padding-bottom: 40px;
}

.footer > .copyright {
  font-size: 1rem;
}

.footer {
  background-color: #101820ff;
  min-height: 16px;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 10px;
}

.footer span {
  font-size: 1.2rem;
  color: #c5c6c7;
  font-family: georgia;
  padding-left: 30px;
  padding-bottom: 20px;
}

.footer-icon {
  padding-left: 20px;
}

@media only screen and (max-width: 700px) {
  .section-edu,
  .section-skills,
  .section-projects,
  .section-courses,
  .section-achiev {
    padding-top: 70px;
    padding-left: 20px;
  }
}

@media (max-width: 600px) {
  .welcome-txt {
    font-size: 3rem;
  }

  #index-brand {
    width: 70%;
  }

  .headTitle {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  .section-projects .container ul h4 {
    font-size: 1.2rem;
  }

  .section-courses .container h3 {
    color: #c5c6c7;
    font-size: 1.25rem;
  }

  .section-courses .container ul ol h4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .edu-holder,
  .section-skills-wrapper {
    flex-direction: column;
  }
}

@media (max-height: 1024px) {
  .welcome-msg {
    top: 25%;
  }
}

@keyframes colourChanges {
  0% {
    color: #bada55;
    opacity: 0.5;
  }
  25% {
    color: red;
    opacity: 0.5;
  }
  50% {
    color: blue;
    opacity: 0.5;
  }
  75% {
    color: green;
    opacity: 0.5;
  }
  100% {
    color: yellow;
    opacity: 0.5;
  }
}
